---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: istio-egressgateway
  namespace: istio-egress
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: istio-egressgateway
  install:
    timeout: 10m
    remediation:
      retries: 3
  upgrade:
    remediation:
      remediateLastFailure: true
      retries: 3
      strategy: rollback
    cleanupOnFail: true
  driftDetection:
    mode: enabled
  maxHistory: 3
  valuesFrom:
    - kind: ConfigMap
      name: istio-egressgateway-values
