---
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  labels:
    grafana.internal/instance: grafana
spec:
  config:
    analytics:
      check_for_updates: "false"
      check_for_plugin_updates: "false"
      feedback_links_enabled: "false"
      reporting_enabled: "false"
    # auth:
    #   disable_login_form: "false"
    # auth.generic_oauth:
    #   # For variables see https://grafana.com/docs/grafana/latest/setup-grafana/configure-grafana/#env-provider
    #   enabled: "true"
    #   name: "GitHub SSO"
    #   allow_sign_up: "true"
    #   client_id: ${GRAFANA_AUTH_GENERIC_CLIENT_ID}
    #   client_secret: ${GRAFANA_AUTH_GENERIC_CLIENT_SECRET}
    #   scopes: "openid profile email groups"
    #   email_attribute_path: email
    #   login_attribute_path: username
    #   name_attribute_path: full_name
    #   groups_attribute_path: groups
    #   auth_url: "https://dex.${CLUSTER_DOMAIN}/auth"
    #   token_url: "https://dex.${CLUSTER_DOMAIN}/token"
    #   api_url: "https://dex.${CLUSTER_DOMAIN}/userinfo"
    #   role_attribute_path: "contains(groups[*], 'admins') && 'Admin' || contains(groups[*], 'people') && 'Viewer'"
    auth.basic:
      enabled: true
    auth.anonymous:
      enabled: false
    log:
      mode: console
    metrics:
      enabled: "true"
    news:
      news_feed_enabled: "false"
    plugins:
      plugin_admin_enabled: "false"
    # security:
    #   angular_support_enabled: "true"
    server:
      enable_gzip: "true"
      root_url: https://grafana.${CLUSTER_DOMAIN}
  deployment:
    spec:
      strategy:
        type: Recreate
      template:
        spec:
          containers:
            - name: grafana
              env:
                - name: GF_SECURITY_ADMIN_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: grafana-admin-password-secret
                      key: GF_SECURITY_ADMIN_PASSWORD
              securityContext:
                allowPrivilegeEscalation: false
                readOnlyRootFilesystem: true
                capabilities: { drop: ["ALL"] }
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
          volumes:
            - name: grafana-data
              persistentVolumeClaim:
                claimName: grafana-pvc
  # persistentVolumeClaim:
  #   spec:
  #     accessModes:
  #       - ReadWriteOnce
  #     resources:
  #       requests:
  #         storage: 10Gi
  #     storageClassName: ceph-block
  # disableDefaultSecurityContext: All
