---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: network-system
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: cert-manager
  install:
    timeout: 10m
    replace: true
    crds: CreateReplace
    createNamespace: true
    strategy:
      name: RetryOnFailure
      retryInterval: 5m
  upgrade:
    remediation:
      remediateLastFailure: true
      retries: 3
      strategy: rollback
    cleanupOnFail: true
    crds: CreateReplace
  test:
    enable: true
  rollback:
    recreate: true
    force: true
    cleanupOnFail: true
  uninstall:
    keepHistory: false
  driftDetection:
    mode: enabled
    ignore:
      # Temp fix: cert-manager cainjector modifies webhook configs to inject CA bundles
      - paths: ["/webhooks"]
        target:
          kind: ValidatingWebhookConfiguration
          name: cert-manager-webhook
      - paths: ["/webhooks"]
        target:
          kind: MutatingWebhookConfiguration
          name: cert-manager-webhook
  maxHistory: 3
  valuesFrom:
    - kind: ConfigMap
      name: cert-manager-values
