---
crds:
  enabled: true
# webhook:
#   url:
#     host: cert-manager-webhook.network-system.svc
global:
  # Set the verbosity of cert-manager. Range of 0 - 6 with 6 being the most verbose.
  logLevel: 2
  leaderElection:
    namespace: 'network-system'
extraArgs:
  - --cluster-resource-namespace=network-system
  - --enable-certificate-owner-ref=true
  - --dns01-recursive-nameservers=1.1.1.1:53,8.8.8.8:53
  - --dns01-recursive-nameservers-only
  - --default-issuer-name=letsencrypt-staging
  - --default-issuer-kind=ClusterIssuer
prometheus:
  servicemonitor:
    enabled: true
podDisruptionBudget:
  enabled: true