---
crds:
  enabled: true
global:
  logLevel: 2
extraArgs:
  # Use this flag to set a namespace that cert-manager will use to store
  # supporting resources required for each ClusterIssuer (default is kube-system)
  - --cluster-resource-namespace=network-system
prometheus:
  servicemonitor:
    enabled: true