---
apiVersion: v1
kind: Namespace
metadata:
  name: istio-system
  labels:
    kustomize.toolkit.fluxcd.io/prune: disabled
    gateway-access: "true"
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/warn: privileged
