apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps
  namespace: flux-system
spec:
  interval: 10m
  path: "../../apps/overlays/aks-myaks-tst-swn-00"
  prune: true
  sourceRef:
    kind: OCIRepository
    name: flux-system
  targetNamespace: "" 
  wait: true
  timeout: 5m