---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps
  namespace: flux-system
spec:
  interval: 10m
  timeout: 30m
  path: ./kubernetes/apps/overlays/aks-myaks-tst-swn-00
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false
  postBuild:
    substitute: {}
    substituteFrom:
      - kind: ConfigMap
        name: cluster-config
      - kind: ConfigMap
        name: workload-identity-config
  patches:
    - patch: |-
        apiVersion: kustomize.toolkit.fluxcd.io/v1
        kind: Kustomization
        metadata:
          name: flux-system
          namespace: flux-system
        spec:
          postBuild:
            substituteFrom:
              - kind: ConfigMap
                name: cluster-config
              - kind: ConfigMap
                name: workload-identity-config
      target:
        group: kustomize.toolkit.fluxcd.io
        kind: Kustomization
