---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-instance-extras
  namespace: flux-system
spec:
  interval: 30m
  path: "./kubernetes/apps/base/flux-system/flux-instance/extras"
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: flux-system
  timeout: 5m
  wait: true
  dependsOn:
    - name: grafana-instance
      namespace: observability
    - name: kube-prometheus-stack
      namespace: observability
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-config
