---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
  namespace: external-secrets
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: external-secrets
  driftDetection:
    mode: enabled
  install:
    timeout: 10m
    replace: true
    crds: CreateReplace
    createNamespace: true
    strategy:
      name: RetryOnFailure
      retryInterval: 5m
  upgrade:
    remediation:
      remediateLastFailure: true
      retries: 3
      strategy: rollback
    cleanupOnFail: true
    crds: CreateReplace
  test:
    enable: true
  rollback:
    recreate: true
    force: true
    cleanupOnFail: true
  uninstall:
    keepHistory: false
  maxHistory: 3
  values:
    serviceAccount:
      annotations:
        azure.workload.identity/client-id: "${WORKLOAD_IDENTITY_CLIENT_ID}"
        azure.workload.identity/tenant-id: "${TENANT_ID}"
  valuesFrom:
    - kind: ConfigMap
      name: external-secrets-values
