---
serviceMonitor:
  enabled: true
grafanaDashboard:
  enabled: true
webhook:
  create: true
  replicaCount: 2
  serviceMonitor:
    enabled: true
certController:
  create: true
  serviceMonitor:
    enabled: true
serviceAccount:
  create: true
  name: external-secrets
  podLabels:
    azure.workload.identity/use: "true"
