serviceMonitor:
  enabled: true
grafanaDashboard:
  enabled: true
certController:
  serviceMonitor:
    enabled: true
webhook:
  replicaCount: 2
  serviceMonitor:
    enabled: true
serviceAccount:
  create: true
  name: "workload-sa"
  annotations: {}
  labels: {}
