---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: gha-runner-scale-set-controller
  namespace: flux-system
spec:
  interval: 30m
  retryInterval: 1m
  timeout: 3m
  path: "./kubernetes/apps/base/actions-runner-system/gha-runner-scale-set-controller/app"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  targetNamespace: actions-runner-system
  dependsOn:
    - name: external-secrets-stores
