---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: istio-base
  namespace: istio-system
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: istio-base
  install:
    timeout: 10m
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    remediation:
      remediateLastFailure: true
      retries: 3
      strategy: rollback
    cleanupOnFail: true
    crds: CreateReplace
  driftDetection:
    mode: warn
  maxHistory: 3
  values:
    defaultRevision: default
