---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  #  Namespaces and Global Config first
  - ../../base/actions-runner-system
  - ../../base/external-secrets
  - ../../base/observability
  - ../../base/flux-system/repositories
  # Infrastructure/Controllers
  - ../../base/external-secrets/external-secrets/ks.yaml
  - ../../base/actions-runner-system/gha-runner-scale-set-controller/ks.yaml
  - ../../base/observability/kube-prometheus-stack/ks.yaml
  # Apps and Instances
  - ../../base/flux-system/flux-instance/ks.yaml
  - ../../base/actions-runner-system/gha-runner-scale-set/ks.yaml
  - ../../base/observability/grafana/ks.yaml