---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base/actions-runner-system
  - ../../base/external-secrets
  # - ../../base/network-system
  # - ../../base/observability
  - ../../base/external-secrets/external-secrets/ks.yaml
  - ../../base/actions-runner-system/gha-runner-scale-set-controller/ks.yaml
  - ../../base/actions-runner-system/gha-runner-scale-set/ks.yaml
  - ../../base/flux-system/repositories
  # - ../../base/network-system/cert-manager/ks.yaml
  # - ../../base/observability/grafana/ks.yaml
  # - ../../base/observability/kube-prometheus-stack/ks.yaml