---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: observability
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  install:
    timeout: 1h
    replace: true
    crds: CreateReplace
    createNamespace: true
    strategy:
      name: RetryOnFailure
      retryInterval: 5m
  upgrade:
    remediation:
      remediateLastFailure: true
      retries: 3
      strategy: rollback
    cleanupOnFail: true
    crds: CreateReplace
    force: true
  test:
    enable: true
  rollback:
    recreate: true
    force: true
    cleanupOnFail: true
  uninstall:
    keepHistory: false
  driftDetection:
    mode: enabled
  maxHistory: 3
  timeout: 30m
  # https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml
  values:
    cleanPrometheusOperatorObjectNames: true
    alertmanager:
      enabled: false
    grafana:
      nodeSelector:
        pool_type: "system"
      tolerations:
        - key: "CriticalAddonsOnly"
          operator: "Exists"
      enabled: false
      forceDeployDashboards: true
      operator:
        dashboardsConfigMapRefEnabled: true
        folder: observability
        matchLabels:
          grafana.internal/instance: grafana
    prometheus:
      prometheusSpec:
        nodeSelector:
          pool_type: "system"
        priorityClassName: platform-cluster-critical
        enableFeatures:
          - memory-snapshot-on-shutdown
        scrapeInterval: 1m
        externalUrl: https://prometheus.${CLUSTER_DOMAIN}
        podAntiAffinity: hard
        ruleSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        scrapeConfigSelectorNilUsesHelmValues: false
        retention: 14d
        retentionSize: 50GB
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: default
              resources:
                requests:
                  storage: 50Gi
        enableAdminAPI: true
        walCompression: true
    prometheus-node-exporter:
      fullnameOverride: node-exporter
      tolerations:
        - operator: "Exists"
    kube-state-metrics:
      fullnameOverride: kube-state-metrics
      verticalPodAutoscaler:
        enabled: true
    # Disable kubeProxy whilst using Cilium as it's not deployed
    kubeProxy:
      enabled: false
    kubeEtcd:
      enabled: true
