apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
  namespace: external-secrets-system
spec:
  interval: 10m
  install:
    crds: Create
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  chart:
    spec:
      chart: external-secrets
      version: "0.11.0"
      sourceRef:
        kind: HelmRepository
        name: external-secrets

  values:
    installCRDs: true
    webhook:
      port: 9443
    serviceAccount:
      create: true
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi
    securityContext:
      runAsNonRoot: true
      runAsUser: 65534
      fsGroup: 65534
      seccompProfile:
        type: RuntimeDefault
    podSecurityContext:
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault