---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    email: ${PRIVATE_EMAIL} 
    privateKeySecretRef:
      name: letsencrypt-staging
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: external-dns-cloudflare
              key: CERT_MANAGER_CLOUDFLARE_API_TOKEN
        selector:
          dnsZones:
            - ${CLUSTER_DOMAIN}