---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-admin-password
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: azure-keyvault-store
  target:
    name: grafana-admin-password-secret
    creationPolicy: Owner
    template:
      type: Opaque
      data:
        password: "{{ .grafana_admin_password }}"
  data:
    - secretKey: grafana_admin_password
      remoteRef:
        key: grafana-admin-password
