---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - gotk-components.yaml
  - gotk-sync.yaml
patches:
  - patch: |-
      apiVersion: v1
      kind: ServiceAccount
      metadata:
        name: source-controller
        namespace: flux-system
        annotations:
          azure.workload.identity/client-id: 204a41c7-80e6-47e7-8fde-11079df59db2
        labels:
          azure.workload.identity/use: "true"
    target:
      kind: ServiceAccount
      name: source-controller
      namespace: flux-system

  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: source-controller
        namespace: flux-system
      spec:
        template:
          metadata:
            labels:
              azure.workload.identity/use: "true"
    target:
      kind: Deployment
      name: source-controller
      namespace: flux-system

  - patch: |-
      apiVersion: kustomize.toolkit.fluxcd.io/v1
      kind: Kustomization
      metadata:
        name: not-used
      spec:
        postBuild:
          substituteFrom:
            - kind: ConfigMap
              name: cluster-config
            - kind: ConfigMap
              name: workload-identity-config
    target:
      group: kustomize.toolkit.fluxcd.io
      kind: Kustomization