---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: istio-system

resources:
  - ocirepository.yaml
  - helmrelease.yaml

configMapGenerator:
  - name: istiod-values
    namespace: istio-system
    files:
      - values.yaml=./values.yaml

configurations:
  - kustomizeconfig.yaml
